---
import { Image } from "astro:assets";
import HtmlLogo from "../../public/Logos/HTML.webp";
import CssLogo from "../../public/Logos/CSS.webp";
import JSLogo from "../../public/Logos/Javascript.webp";
import ReactLogo from "../../public/Logos/React.webp";
import AstroLogo from "../../public/Logos/Astro.webp";
import TailwindLogo from "../../public/Logos/Tailwind.webp";
import FrankPhoto from "../../public/Frank-Photo.webp";
---

<section
  class="container section flex flex-col items-center justify-around gap-10 px-16 rounded-3xl"
>
  <h2 class="section-primary highlight">Sobre M칤</h2>
  <section id="info-section" class="flex items-end justify-center gap-16">
    <figure
      class="w-[25%] rounded-2xl overflow-hidden flex flex-col items-center mb-4"
    >
      <Image
        src={FrankPhoto}
        alt="FrankmDev Image"
        class="w-full h-full object-cover"
      />
    </figure>
    <article class="flex-1 p-3">
      <h3 class="text-3xl mb-5">쯈ui칠n soy? 游</h3>
      <p class="text-base text-justify leading-loose pr-8">
        Mi nombre es Francisco Mu침oz, aunque en redes soy Frank, en las que me
        dedico a crear contenido sobre programaci칩n. Soy estudiante del Grado
        Superior de Desarrollo de Aplicaciones Web, adem치s de formarme mediante
        cursos certificados.<br />
        Descubr칤 la programaci칩n estudiando la carrera de Ingenier칤a Electr칩nica
        Industrial, pero decid칤 emprender mi camino hacia el desarrollo.
        <br />
        Adem치s, como guitarrista, atleta de fuerza y profesor particular, he desarrollado
        una gran capacidad de trabajo, disciplina y perseverancia, de las que me
        veo beneficiado a la hora de codear.
      </p>
    </article>
  </section>
  <section class="p-3 flex justify-center items-center mt-3">
    <div
      class="container flex items-center justify-center flex-col p-7 mb-3 rounded-3xl bg-[#090909]"
    >
      <header class="skills-header">
        <h2 class="skills-text text-2xl mb-6">Skills</h2>
      </header>
      <div class="skills-list flex gap-12">
        <Image class="skill-logo" src={HtmlLogo} alt="Html Logo" />
        <Image class="skill-logo" src={CssLogo} alt="CSS Logo" />
        <Image class="skill-logo" src={JSLogo} alt="Javascript Logo" />
        <Image class="skill-logo" src={ReactLogo} alt="React Logo" />
        <Image class="skill-logo" src={AstroLogo} alt="Astro Logo" />
        <Image class="skill-logo" src={TailwindLogo} alt="Tailwind Logo" />
      </div>
    </div>
  </section>
</section>

<style>
  .skill-logo {
    max-width: 5.3rem;
    object-fit: contain;
  }

  @media (width<=1500px) {
    .section-primary {
      font-size: 2.5rem;
    }
    .skill-logo {
      max-width: 4.3rem;
    }
  }
</style>
