---
import { Image } from "astro:assets";
import HtmlLogo from "../../public/Logos/HTML.webp";
import CssLogo from "../../public/Logos/CSS.webp";
import JSLogo from "../../public/Logos/Javascript.webp";
import ReactLogo from "../../public/Logos/React.webp";
import AstroLogo from "../../public/Logos/Astro.webp";
import TailwindLogo from "../../public/Logos/Tailwind.webp";
import FrankPhoto from "../../public/Frank-Photo.webp";
---

<section
  class="section grid gap-16 px-10 rounded-2xl border-main border-2 border-solid"
>
  <h2 class="section-primary">About me</h2>
  <section id="info-section" class="flex items-center justify-center gap-16">
    <figure
      class="w-3/12 rounded-2xl overflow-hidden flex flex-col items-center"
    >
      <Image
        src={FrankPhoto}
        alt="FrankmDev Image"
        class="w-full h-full object-cover"
      />
    </figure>
    <article class="flex-1 p-3">
      <h3 class="text-2xl mb-5">Greetings! 🚀</h3>
      <p class="text-justify leading-loose pr-8">
        I'm Francisco Muñoz (Frank), self-taught Frontend Developer seeking my
        first professional opportunity in the technology sector.<br />
        Currently pursuing a Higher Degree in Web Application Development (DAW) in
        Spain, I've gained experience through certified many courses and personal
        projects.<br /> In addition, I've spent three years tutoring, enhancing my
        communication and teaching skills. <br /> While I haven't applied my experience
        professionally, I'm eager to contribute my skills and knowledge in a work
        environment. My determination, creativity, and commitment drive me to tackle
        new challenges.
      </p>
    </article>
  </section>
  <section
    id="skills-section"
    class="p-3 flex justify-center items-center mt-3"
  >
    <div
      class="container flex items-center justify-center flex-col p-7 mb-3 rounded-xl max-w-min border-main border-2 border-solid"
    >
      <header class="skills-header">
        <h2 class="skills-text text-2xl mb-5">Skills</h2>
      </header>
      <div class="skills-list flex gap-10">
        <Image class="skill-logo" src={HtmlLogo} alt="Html Logo" />
        <Image class="skill-logo" src={CssLogo} alt="CSS Logo" />
        <Image class="skill-logo" src={JSLogo} alt="Javascript Logo" />
        <Image class="skill-logo" src={ReactLogo} alt="React Logo" />
        <Image class="skill-logo" src={AstroLogo} alt="Astro Logo" />
        <Image class="skill-logo" src={TailwindLogo} alt="Tailwind Logo" />
      </div>
    </div>
  </section>
</section>

<style>
  .skill-logo {
    max-width: 5.3rem;
    object-fit: contain;
  }
</style>
