---
import { Image } from "astro:assets";
import HtmlLogo from "../../public/Logos/HTML.png";
import CssLogo from "../../public/Logos/CSS.png";
import JSLogo from "../../public/Logos/Javascript.png";
import ReactLogo from "../../public/Logos/React.png";
import AstroLogo from "../../public/Logos/Astro.png";
import TailwindLogo from "../../public/Logos/Tailwind.png";
---

<section id="skills-section">
  <div class="skills flex items-center justify-center flex-col">
    <header class="skills-header">
      <h2 class="skills-text">Skills</h2>
    </header>
    <div class="skills-list grid">
      <Image class="skill-logo" src={HtmlLogo} alt="Html Logo" />
      <Image class="skill-logo" src={CssLogo} alt="CSS Logo" />
      <Image class="skill-logo" src={JSLogo} alt="Javascript Logo" />
      <Image class="skill-logo" src={ReactLogo} alt="React Logo" />
      <Image class="skill-logo" src={AstroLogo} alt="Astro Logo" />
      <Image class="skill-logo" src={TailwindLogo} alt="Tailwind Logo" />
    </div>
  </div>

  <style>
    .skills {
      border-radius: 25px;
      width: 70vw;
      background-color: #151515;
      border: 1px solid blue;
      padding: 2rem;
    }
    .skills-text {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
    .skills-list {
      gap: 4rem;
      grid-template-columns: repeat(3, 1fr);
    }
    .skill-logo {
      max-width: 8.5rem;
      object-fit: contain;
    }
  </style>
</section>
