---
import { Image } from "astro:assets";
import HtmlLogo from "../../public/Logos/HTML.png";
import CssLogo from "../../public/Logos/CSS.png";
import JSLogo from "../../public/Logos/Javascript.png";
import ReactLogo from "../../public/Logos/React.png";
import AstroLogo from "../../public/Logos/Astro.png";
import TailwindLogo from "../../public/Logos/Tailwind.png";
---

<section id="skills-section">
  <div
    class="flex items-center justify-center flex-col p-3 mb-3 rounded-xl bg-[#151515] max-w-min"
  >
    <header class="skills-header">
      <h2 class="skills-text text-lg mb-5">Skills</h2>
    </header>
    <div class="skills-list flex gap-10">
      <Image class="skill-logo" src={HtmlLogo} alt="Html Logo" />
      <Image class="skill-logo" src={CssLogo} alt="CSS Logo" />
      <Image class="skill-logo" src={JSLogo} alt="Javascript Logo" />
      <Image class="skill-logo" src={ReactLogo} alt="React Logo" />
      <Image class="skill-logo" src={AstroLogo} alt="Astro Logo" />
      <Image class="skill-logo" src={TailwindLogo} alt="Tailwind Logo" />
    </div>
  </div>

  <style>
    .skill-logo {
      max-width: 4.5rem;
      object-fit: contain;
    }
  </style>
</section>
